.head{
    font-family:cursive;
    font-weight: bold;
    padding-top: 8px;
    font-size: 30px;
    color: antiquewhite;
    display:flex;
    justify-content: center;
    background-image: url(https://thumbs.gfycat.com/GrimGrizzledArmyant-size_restricted.gif); background-repeat:repeat;
    height: 220px;
    margin-top: -9px;
    margin-left:-12px;
    width:1500px}
.space{
  width:300px;
  height:100px;
  text-align:center;
  flex-basis: 80%;
  margin-left: -100px;

}
body{
    background-image:url('space_background.jpg'); background-repeat:repeat; 
    background-position: center;
    background-size: cover;
}

.earth {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    
  }
  
  .earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .earth > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url(https://www.h-schmidt.net/map/map.jpg);
    background-size: cover;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }

  .text{
    padding-top:370px;
    margin-left: 30px;
    color:darkred;
    font-weight: bold;
    font-family: cursive;
  }
  
  .link{
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .video{
    text-align:center;
    margin:30px;
}

  .asteroids {
    width: 200px;
    height: 200px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    
  }
  
  .asteroids:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
  }
  
  .asteroids> div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url(https://static.independent.co.uk/2022/04/04/20/iStock-1198015422.jpg?quality=75&width=982&height=726&auto=webp);
    background-size: cover;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  .move{
    padding-top: 70px;
  }
  html::-webkit-scrollbar{
    width:14px;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(blue,rgb(9, 236, 217));
}
p {
  animation-duration: 3s;
  animation-name: slidein;
}
.aster{
animation-duration: 3s;
animation-name: slidein;}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
nav{
	position: relative;
	margin: 270px auto 0;
	width: 1550px;
	height: 50px;
	background-image:url('https://wallpaperaccess.com/full/741514.jpg');
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  margin-top: 0px;
  margin-right: 200px;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
  font-weight: bold;
}
nav .animation{
	position: absolute;
	height: 100%;
  width:50px;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: rgb(104, 102, 102);
	border-radius: 8px;
	transition: all .42s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}